*.pyc
db/*
local_settings.py
frontend/static-files/*
static-files/*
*.log
changelog.txt
.idea/
frontend/site-media/
site-media/
openeats.db
*.css.map
*.js.map
api/templates/angular/
frontend/node_modules/
frontend/.DS_Store
*.DS_Store
static-files/
database/
frontend/build/
frontend/jest/
site-media/
openeats.sql

openeats-api/
openeats-web/
openeats-nginx/

servies/static-files/
servies/side-media/
env_prod.list
