# Folders
openeats-api/
openeats-web/
openeats-nginx/
openeats-mobile/
openeats-demo/
open-eats.github.io/
site-media/
static-files/
node_modules/
secrets/*
.idea/

# Files
*.DS_Store
*.pyc
*.css.map
*.js.map
*.log
*.pyc
env_prod.list
docker-prod.version.yml
docker-prod.override.yml
docker-compose.override.yml
