*.pyc
db/*
local_settings.py
frontend/static-files/*
static-files/*
*.log
changelog.txt
.idea/
frontend/site-media/
site-media/
openeats.db
*.css.map
*.js.map
api/templates/angular/
frontend/node_modules/
frontend/.DS_Store
*.DS_Store
static-files/
database/
frontend/build/
frontend/jest/
site-media/
openeats.sql


servies/static-files/
servies/side-media/


# Folders
openeats-api/
openeats-web/
openeats-nginx/
openeats-mobile/
site-media/
static-files/
node_modules/
.idea/

# Files
*.DS_Store
*.pyc
*.css.map
*.js.map
*.log
*.pyc
env_prod.list
docker-prod.override.yml
docker-compose.override.yml
